
<nav class="navbar navbar-default navbar-fixed-top navScrollBg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">Cool Roof Tiles</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="about.html">About</a></li>
        <li><a href="insulation.html">Insulation</a></li>
        <li><a href="benefits.html">Benefits</a></li>
        <li><a href="tiles.html">Tiles</a></li>
        <li><a href="awards.html">Awards</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="rnd.html">Innovation</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>